.app-container-dark {
  background-image: url('./Assets/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-container-light {
  background: linear-gradient(to right, #fdf5dd, #ffffff);
  color: black;
}

.footer {
  position: sticky;
  bottom: 0;
}

.footer-bg-light {
  background-color: #f8f9fa;
  /* Light background */
}

.footer-bg-dark {
  background-color: #343a40;
  /* Dark background */
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-header {
  padding-top: 80px !important;
}


.header {
  position: sticky;
  top: 0;
}

.education-header,
.work-header {
  position: relative;
  /* Enables absolute positioning for the logo */
  display: flex;
  /* Keeps the text inline with its container */
  align-items: center;
  /* Ensures text is vertically aligned */
}

.work-logo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.edu-logo {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}


.border-right {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.border-left {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}


.work-item,
.education-item {
  margin-bottom: 50px;
}

.education-item h3 {
  margin-bottom: 1px;
}

.education-item p {
  margin-bottom: 1px;
}

.work-section,
.education-section {
  margin-bottom: 30vh;
}