.app-container {
  background-image: url('./Assets/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.footer {
  position: sticky;
  bottom: 0;
}

.home {
  width: 100vw;
  height: 100vh;
}


.home-header {
  padding-top: 80px !important;
}


.header {
  position: sticky;
  top: 0;
}