.app-container-dark {
  background-image: url('./Assets/home-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-container-light {
  background: linear-gradient(to right, #fdf5dd, #ffffff);
  color: black;
}

.footer {
  position: sticky;
  bottom: 0;
}

.home {
  width: 100vw;
  height: 100vh;
}


.home-header {
  padding-top: 80px !important;
}


.header {
  position: sticky;
  top: 0;
}

.border-right {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.border-left {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.mb-4 {
  margin-bottom: 2.5rem;
}